{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block content %}
<section class="posts">
    <h1>{{ section.title }}</h1>
    {% if section.pages %}
    <ul class="post-list">
        {% for page in section.pages %}
        {% if not page.extra.unlisted %}
        <li>
            <a href="./{{ page.slug }}/">
                <span class="post-title">{{ page.title }}</span>
                <span class="post-date">{{ page.date | date(format="%d.%m.%y") }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>No posts yet.</p>
    {% endif %}
</section>
{% endblock content %}
